@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');


.songName {
  text-decoration: none;
  color: white;
  font-family: 'Raleway' sans-serif;
  font-weight: 800;
  font-size: 30px;
}

